<?xml version="1.0" encoding="UTF-8"?>

<!-- Root tag: Tells Spring that this file contains bean definitions -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-be ans.xsd">

    <!-- Step 1: Register all beans (classes) with Spring -->

    <!-- Register PetrolEngine as a Spring-managed bean -->
    <!-- Spring will create an object of PetrolEngine with id 'petrol' -->
    <!--1. This line tells Spring to create an object of PetrolEngine and manage it.
        2. The bean's name (id) is petrol, so whenever I need a PetrolEngine object,
           I will refer to this id.
        3.Spring will create this object automatically. -->
    <bean id="petrol" class="org.example.PetrolEngine"></bean>



    <!-- Register DieselEngine as a Spring-managed bean -->
    <bean id="diesel" class="org.example.DieselEngine"></bean>


    <!-- Step 2: Perform Dependency Injection -->

    <!-- Create a Car object and inject PetrolEngine into it -->
    <!-- The 'engine' property of Car will receive the bean with id 'petrol' -->
    <!-- This is Setter Injection (via setEngine() method) -->
    <!-- The car bean tells Spring to create an object of the Car class.
         Inside Car, there is a property named engine.
         We want to inject PetrolEngine into that engine property.
             ref="petrol" means:
        “Use the bean whose id is petrol and inject it into Car.” -->
     <!-- This is Setter Injection, because Spring uses the setEngine() method to inject the Engine.-->
    <bean id="car" class="org.example.Car">
        <property name="engine" ref="petrol"></property>
    </bean>
</beans>